# Ignore data folder contents except .gitkeep
data/*
!data/.gitkeep

# Ignore generated datasets and indexes
*.txt
!requirements.txt
!README.md
*.npy
*.index

# Virtual environments and python cache
venv/
env/
__pycache__/
*.pyc

# Environment variables
.env
